.navbar {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    color: Black;
    padding: 5px 20px;
    align-items: center;
    word-spacing: 2em;
  font-size: 1.2em;
  font-weight: light;
  font-family: var(--font-family);
  }

  .main-logo {
    justify-content: left;
    align-items: left;
  }
  .start-btn{
    border-radius: 20px;
    border: none;
    background: var(--primary-orange);
    padding: 10px;
    margin:0 15px;
    color: white ;
    font-size: 0.75em;
  }

a{
  text-decoration: none;
  color: var(--primary-blue);
}